body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 0 5px 0;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .header{
  background-color: #222;
  color: #666;
}

.container {
  max-width: 1121px;
  /* saqartvelo 1121 weli */

  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  justify-self: inherit;
}

.dark-mode .body {
  background-color: #333;
  color: rgb(185, 183, 183);
  transition: background-color 0.3s, ;
}

.dark-mode .title {
  color: rgb(185, 183, 183);
  transition: background-color 0.3s;
}

.dark-mode body {
  background-color: #222;
  color: rgb(185, 183, 183);
  transition: background-color 0.3s;
}

.dark-mode .container {
  background-color: #222;
  transition: background-color 0.3s;
}

.dark-mode .country-item {
  border: 1px solid #555;
  transition: background-color 0.3s;
}

.dark-mode .country-info {
  color: #888;
  transition: background-color 0.3s;
}

.dark-mode .country-name {
  color: rgb(185, 183, 183);
  transition: background-color 0.3s;
}

.dark-mode .dark-mode-toggle {
  color: rgb(185, 183, 183);
  transition: background-color 0.3s;
}

.filter {
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.dark-mode .filter {
  color: rgb(185, 183, 183);
  transition: background-color 0.3s;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.country-item {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: border-color 0.3s, background-color 0.3s;
}

.country-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.country-name {
  font-weight: bold;
  margin-top: 10px;
}

.country-info {
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}